@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ctq9j9');
  src:  url('fonts/icomoon.eot?ctq9j9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ctq9j9') format('truetype'),
    url('fonts/icomoon.woff?ctq9j9') format('woff'),
    url('fonts/icomoon.svg?ctq9j9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e90b";
}
.icon-chevron-left:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\f067";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-close:before {
  content: "\f00d";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-arrow-left-circle:before {
  content: "\e909";
}
.icon-arrow-right-circle:before {
  content: "\e908";
}
.icon-3:before {
  content: "\e905";
}
.icon-1:before {
  content: "\e906";
}
.icon-2:before {
  content: "\e907";
}
.icon-tick_circle:before {
  content: "\e900";
}
.icon-tick:before {
  content: "\e901";
}
.icon-essential:before {
  content: "\e902";
}
.icon-professional:before {
  content: "\e903";
}
.icon-enterprise:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
